<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>list-recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button type="button" color="primary"  >MODIFY</ion-button>
      <ion-button type="button" color="primary" >DELETE</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

  <ion-footer>
    <ion-toolbar color="medium">
      <ion-title>Copy-rigth 2021</ion-title>
    </ion-toolbar>
  </ion-footer>
